{% extends 'layout.html.twig' %}


{% block fos_user_content %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		{#<link rel="stylesheet" href={{ asset('css/style.css') }} type="text/css">#}
         {% endblock %}
 <style>
      hr{
        height: 3px;
        background-color: #194a8d;
        border: none;
      }
</style>
<div class="container">	
  		<br />
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-body bg-primary text-white text-left">
              <h5>Compte de : {{app.user.firstname}} {{app.user.lastname}}</h5> 
              <h5>N° Pilote : {{app.user.id}} </h5>					
              <h5>N°Comptable : {{app.user.comptepilote.id}}</h5>					
            </div>
          </div>
        </div>		
      
        <div class="col-lg-6">
          <div class="card mb-6">
              <div class="card-body bg-primary text-white text-center">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      <h6>Connecté en tant que: {{ app.user }}</h6>
                      <hr> 
                      <a button class="btn btn-outline-success" role="button" href="{{ path('app_logout') }}">Déconnexion</a>
                    	<a href="{{ path('app_MesDossiers') }}" class="btn btn-outline-success" role="button" aria-pressed="true">Mes Dossiers</a>	
                    {% endif %}									
              </div>    
          </div>  
        </div>
	    </div> 			
<hr>
			<div class="row">
				<div>{# On affiche tous les messages flash dont le nom est « notice » #}
							
					{% for message in app.session.flashbag.get('notice') %}
						<div class="alert alert-danger">
							<p>Message : {{ message }}</p>
				
				  {% endfor %}
				</div>
			</div>
			
		<div class="row">			
			<div class="col-md-5 col-sm-6 col-xs-12">
				<h4><div class="card bg-primary text-white text-center">Poser une nouvelle Reservation</div></h4>
			</div>
		</div>

    {{ include('reserver/_form.html.twig') }}

    <a href="{{ path('reserver_index') }}">back to list</a>
{% endblock %}


