{% extends 'layout.html.twig' %}

{% block title %}MaCotisation{% endblock %}

{% block body %}
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
{% include "_partials/_entete.html.twig" %}
        {% block stylesheets %}
        {#}    {{ encore_entry_link_tags('app') }} #}
		<link href="{{ asset('css/layout.css') }}" rel='stylesheet' /> 
            {% endblock %}

		
            <div class="container">
 		
            
                    <div class="row">
                        <div><h5>{# On affiche tous les messages flash dont le nom est « notice » #}
                                        
                            {% for message in app.session.flashbag.get('Info') %}
                                <div class="alert alert-danger">
                                    <p>Message : {{ message }}</p>
                                </div>
                          {% endfor %}
                            </h5>
                        </div>
                    </div>
                    
                    <br />
                    <br />
					<br />
                    <br />
                    <br />
					
        <h3>Votre Cotisation {{ ma_cotisation.annee ? ma_cotisation.annee|date('Y') : '' }} a déjà été souscrite ! ✅ </h3>

	
			<table class="table">
				<tbody>
					{#<tr>#} 
					{#	<th>Id</th>#}
					{#	<td>{{ ma_cotisation.id }}</td>#}
				    {#</tr>#}
					 <tr>
						<th>Annee</th>
						<td>{{ ma_cotisation.annee ? ma_cotisation.annee|date('Y') : '' }}</td>
					</tr>
					<tr>
						<th>Cotisation Club</th>
						<td>{{ ma_cotisation.cotisation }}</td>
					</tr>
					<tr>
						<th>Licence FFA</th>
						<td>{{ ma_cotisation.LicenceFFA }}</td>
					</tr>
					{# <tr> #}
					{#   <th>InfoPilote</th>#}
					{#    <td>{{ ma_cotisation.InfoPilote }}</td>#}
					{#</tr>#}
					<tr>
						<th>InfoPilote</th>
						<td>{{ ma_cotisation.TarifInfoPilote }}</td>
					</tr>

					<tr>
						<th>Cotisation Totale</th>
						<td>{{ ma_cotisation.TotalCotisation }}</td>
					</tr>
				</tbody>
			</table>


	    <a button class="btn btn-primary" role="button" aria-pressed="true" href="{{ path('app_moncompte') }}">Voir Mon Compte</a> 


  {#  {{ include('ma_cotisation/_delete_form.html.twig') }} #}
{% endblock %}