{% extends 'layout.html.twig' %}

{% block title %}MaCotisation{% endblock %}

{% block body %}

        {% block stylesheets %}
         {#}   {{ encore_entry_link_tags('app') }}#}
		<link href="{{ asset('css/layout.css') }}" rel='stylesheet' />  
            {% endblock %}

		
            <div class="container">
{% include "_partials/_entete.html.twig" %}		
            
                    <div class="row">
                        <div><h5>{# On affiche tous les messages flash dont le nom est « notice » #}
                                        
                            {% for message in app.session.flashbag.get('Info') %}
                                <div class="alert alert-danger">
                                    <p>Message : {{ message }}</p>
                                </div>
                          {% endfor %}
                            </h5>
                        </div>
                    </div>
                    
                    <br />
                    <br />
                    <br />
                    <br />

    <h2>Ma Cotisation {{ ma_cotisation.annee ? ma_cotisation.annee|date('Y') : '' }}</h2>

	{% if editMode %}
 {#   <h4> dans editMode page show</h4> #}
    
    <table class="table">
        <tbody>
           {# <tr> #}
            {#    <th>Id</th>#}
            {#    <td>{{ ma_cotisation.id }}</td>#}
            {#</tr>#}
            {# <tr>#}
                <th>Annee</th>
                <td>{{ ma_cotisation.annee ? ma_cotisation.annee|date('Y') : '' }}</td>
            </tr>
            <tr>
                <th>Cotisation Club</th>
                <td>{{ ma_cotisation.cotisation }}</td>
            </tr>
            <tr>
                <th>Licence FFA</th>
                <td>{{ ma_cotisation.LicenceFFA }}</td>
            </tr>
            {# <tr> #}
            {#   <th>InfoPilote</th>#}
            {#    <td>{{ ma_cotisation.InfoPilote }}</td>#}
            {#</tr>#}
            <tr>
                <th>InfoPilote</th>
                <td>{{ ma_cotisation.TarifInfoPilote }}</td>
            </tr>

            <tr>
                <th>Cotisation Totale</th>
                <td>{{ ma_cotisation.TotalCotisation }}</td>
            </tr>
        </tbody>
    </table>

	<a button class="btn btn-danger" role="button" aria-pressed="true" href="{{ path('ma_cotisation_index') }}">Valider</a>

    <a button class="btn btn-success" role="button" aria-pressed="true" href="{{ path('ma_cotisation_edit', {'id': ma_cotisation.id}) }}">Modifier</a>



	{%else %}
    

	    <a button class="btn btn-primary" role="button" aria-pressed="true" href="{{ path('sky_compte') }}">Voir Mon Compte</a> 

	{% endif %} 
  {#  {{ include('ma_cotisation/_delete_form.html.twig') }} #}
{% endblock %}
